  /* htm 
    font-size: 0.6em
}

body {
    margin: 0;
    padding: 10px;
    padding-top: 20px;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    color: #444444;
    max-width: 1200px;
    margin: auto
}

@media screen and (min-width:768px){

    body {
     background-color: lightblue;
    }
}


h1,
h2,
h3,
h4,
h5,
h6
{
font-family: "Inter", sans-serif;
font-weight: 600;
color: #222222;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
}

h2 {
    font: size 2rem;
    text-align: center;

}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;

}

h5 {
    font-size: 1.25rem;

}

h6 {
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: #3b82f6;
}

a:hover,
a:focus {
    color: #1d4ed8;
}